body, html {
  height: 100%;
}
#ellipse_page_2{
  float: middle;
  position: absolute;
  left: 171px;
  top: 26px;
  width: 100px;
	height: 100px;
  background: #C4C4C4;
}

#dry_bar{
  position: absolute;
  width: 168px;
  height: 21px;
  left: -7px;
  top: -4px;

  left: 36px;
  right: 171px;
  top: 218px;
  bottom: 573px;
  background: #8FE197;
  border-radius: 15px;
}

#oily_bar{
  position: absolute;
  width: 168px;
  height: 21px;
  left: -7px;
  top: -4px;

  left: 36px;
  right: 171px;
  top:  286px;
  bottom: 505px;
  background: #8FE197;
  border-radius: 15px;
}
#acne_bar{
  position: absolute;
  width: 168px;
  height: 21px;
  left: -7px;
  top: -4px;

  left: 36px;
  right: 171px;
  top: 354px;
  bottom: 487px;
  background: #8FE197;
  border-radius: 15px;
}
#anti_bar{
  position: absolute;
  width: 168px;
  height: 21px;
  left: -7px;
  top: -4px;

  left: 36px;
  right: 171px;
  top: 422px;
  bottom: 369px;
  background: #8FE197;
  border-radius: 15px;
}
#hyper_bar{
  position: absolute;
  width: 168px;
  height: 21px;
  left: -7px;
  top: -4px;

  left: 36px;
  right: 171px;
  top: 488px;
  bottom: 303px;
  background: #8FE197;
  border-radius: 15px;
}
#sensit_bar{
  position: absolute;
  width: 168px;
  height: 21px;
  left: -7px;
  top: -4px;

  left: 36px;
  right: 171px;
  top: 554px;
  bottom: 237px;
  background: #8FE197;
  border-radius: 15px;
}

#userquestion{
  position: absolute;
  width: 276px;
  height: 11px;
  left: 31px;
  top: 157px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;

  color: #000000;
}

#skin_type{
  position: absolute;
  width: 297px;
  height: 28px;
  left: 16px;
  top: 168px;

  background: #FFFDFD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(2px);
  border-radius: 10px;

  z-index:-5;
}
